@{
    // Setting the page title
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="about">About</h1>
    <p>Welcome to an extraordinary world where movie magic knows no bounds. Here, we've carefully curated a selection of the top 10 movies that have defined generations, stirred souls, and left an indelible mark on the silver screen. Whether you're seeking timeless classics or contemporary gems, our user-friendly platform invites you to explore gripping stories, captivating characters, and unforgettable moments. Join us in celebrating the art of cinema as you embark on a journey through our meticulously chosen collection. Welcome to a realm where every frame tells a tale – your gateway to the finest in film awaits!</p>
    <br />
    <p>Group members:Shubham Shubham,Tejas Tejas and Piyush</p>
</div>